<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>The Bookstore</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
  
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Bookstore</a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li><a href="/">Store</a></li>
		    <li class="active"><a href="/admin">Admin</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
  
    <h1>Add books</h1>
    <div>
    	<form action="#" th:action="@{/admin}" th:object="${bookCommandObject}" method="post">
    		<div class="form-group">
				<label for="title">Title</label>
				<input type="text" th:field="*{title}" class="form-control" placeholder="Title"/>
			</div>
			<div class="form-group">
				<label for="author">Author</label>
				<input type="text" th:field="*{author}" class="form-control" placeholder="Author"/>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
				<label for="price">Price</label>
				<input type="text" th:field="*{price}" class="form-control" placeholder="Price"/>
				<p th:if="${#fields.hasErrors('price')}" class="help-block">Incorrect price</p>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'has-error'">
				<label for="quantity">Quantity</label>
				<input type="text" th:field="*{quantity}" class="form-control" placeholder="Quantity"/>
				<p th:if="${#fields.hasErrors('quantity')}" class="help-block">Incorrect quantity</p>
			</div>
  			<button type="submit" class="btn btn-default">Add books</button>
    	</form>
    </div>
    
    <div> 
    	<h2>Books</h2>
    	<table class="table table-hover"> 
    		<thead> 
    			<tr> 
    				<th>Title</th> 
    				<th>Author</th> 
    				<th>Price</th> 
    			</tr> 
    		</thead> 
    		<tbody> 
    			<tr th:each="book : ${books}"> 
    				<td th:text="${book.title}">title</td> 
    				<td th:text="${book.author}">author</td> 
    				<td th:text="${book.price}">price</td> 
    			</tr> 
    		</tbody> 
    	</table> 
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>